<!-- HEADER -->

<img class="header-image hidden-xs hidden-sm" src="assets/stemnewsheader.jpg"/>



<div class="main-body">
<div class="main-background">

<!-- NAVIGATION -->

<ul class="nav nav-tabs hidden-xs hidden-sm">
  <li><a href="<%= posts_path %>">Home</a></li>
  <li><a href="/news">News</a></li>
  <li><a href="/studentlife">Student Life</a></li>
  <li><a href="/opinion">Opinion</a></li>
  <li class="active"><a href="/community">Community</a></li>
  <li><a href="/archives">Archives</a></li>
</ul>
</br>
</br>
</br>