// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// =================================
// CSS TRANSITIONS
// ================================= 

.post .thumbnail {
	transition-duration: .5s;
}

.post .thumbnail:hover {
	width: 70%;
}

// =================================
// IMAGES
// ================================= 
  
.header-image {
	width: 100%;
}
   
.thumbnail {
    width: 200px;
}

// =================================
// PAGE LAYOUT
// ================================= 

.main-background {
	background-color: #FAFAFA;
	padding: 20px;
	padding-top: 40px;
}

.articles {
	margin-top: -10px;
}

.admin-articles {
	margin-top: -40px;
}

.header-image {
	margin-top: 50px;
}

.post-small {
	margin-bottom: 30px;
}

.media-fix {
	width: 100%;
	height: 50px;
}

// =================================
// PAGE STYLE
// ================================= 

.post-main {
	background-color: #101010;
	padding: 15px;
	border-radius: 5px;
	color: white;
}

.post-news {
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid blue;
}

.post-studentlife {
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid red;
}

.post-opinion {
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid lightgreen;
}

.post-community {
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid orange;
}

.post-archives {
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid purple;
}

.post-options a, .post-options a:visited {
    text-decoration: none;
    color: #428bca;
}

.post-options a:hover {
    text-decoration: none;
    color: #428bca;
}

// =================================
// FORUMS
// ================================= 

.form {
	margin-top: 90px;
}

.field #post_summary {
	width: 90%;
	height: 100px;
}

.field #post_article {
	width: 90%;
	height: 500px;
}

.field #post_sources {
	width: 90%;
	height: 100px;
}

.edit-thumbnail {
	width: 40%;
}

// =================================
// FEATURED ARTICLES
// =================================

.post .thumbnail {
	width: 40%;
	display: inline-block;
}

.post-main .thumbnail {
	width: 100%;
	cursor: pointer;
}

.post .thumbnail {
    cursor: pointer;
}

// =================================
// SHOW ARTICLES VIEW
// =================================

.show-title {
	text-align: center;
}

.show-thumbnail {
	width: 50%;
	padding-right: 20px;
	padding-top: 5px;
}